.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  /* background-color: red; */
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: yellow; */
  flex-wrap: nowrap;
  padding: 20px;
  margin: 20px;
  width: 900px;
}

.uploadContainer {
  width: 410px;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 100%;
  /* background-color: green; */
}

.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(175, 175, 175);
  border-style: dashed;
  width: 400px;
  height: auto;
  /* min-width: 400px; */
  min-height: 300px;
  background-color: #e9e9ebb5;
  padding: 5px;
  border-radius: 20px;
}

/* .uploadinput {
    position: relative;
    top: 0%;
    left: 25%;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
} */

/* .uploadinput + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.uploadinput:focus + label,
.uploadinput + label:hover {
    background-color: red;
} */

/* .uploadinput + label {
	cursor: pointer; 
} */

.inputsection {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  margin-bottom: 30px;
  margin-left: 20px;
}

.inputsection label {
  margin-bottom: 5px;
  font-size: 13px;
}

.inputsection input {
  padding: 15px;
  border-radius: 15px;
  outline: none;
  border: 1px solid gray;
  background-color: #efefef4d;
  font-size: 16px;
}

.inputsection input:focus {
  outline: 5px solid rgb(185, 224, 239);
}

.textarea {
  height: 80px;
  padding: 15px;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
  background-color: #efefef4d;
}

.textarea:focus {
  outline: 5px solid rgb(185, 224, 239);
}

.formaction {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
  margin-left: 20px;
}

.SaveButton {
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 15px;
}

.SaveButton:hover {
  background: rgb(168, 0, 0);
}

.SaveButton:active {
  background: rgb(255, 255, 255);
  color: red;
}

.uploadImage {
  object-fit: cover;
  border-radius: 20px;
}

.uploadFile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadedrow {
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgb(199, 196, 196);
}

.uploadcontent {
  display: flex;
  align-items: center;
  width: auto;
}

.topText {
  border: 1px solid rgb(177, 177, 177);
  background-color: white;
  padding: 10px 30px;
  margin-left: 1px;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  position: fixed;
  top: 70px;
  z-index: 0;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .formContainer {
    width: 750px;
    padding: 10px;
    margin: 30px;
  }
  .uploadSection {
    width: 300px;
    min-height: 240px;
  }
  .inputsection input:focus {
    outline: 4px solid rgb(185, 224, 239);
  }
  .textarea:focus {
    outline: 4px solid rgb(185, 224, 239);
  }
}

@media screen and (max-width: 768px) {
  .formContainer {
    width: 600px;
    padding: 10px;
    margin: 15px;
  }

  .uploadSection {
    width: 250px;
    min-height: 180px;
  }

  .uploadContainer {
    width: 310px;
  }

  .uploadedrow {
    font-size: 12px;
    padding: 8px 15px;
  }
  .uploadcontent {
    font-size: 12px;
  }
  .imgCaption {
    font-size: 12px;
  }
  .inputsection {
    margin-bottom: 20px;
  }
  .inputsection label {
    margin-bottom: 3px;
    font-size: 12px;
  }
  .inputsection input {
    padding: 10px 8px;
    font-size: 12px;
    border-radius: 10px;
  }
  .textarea {
    height: 80px;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
  }
  .SaveButton {
    font-size: 15px;
  }
  .imageIcons {
    font-size: 15px;
  }
  .topText {
    padding: 8px 15px;
    font-size: 17px;
  }
  .inputsection input:focus {
    outline: 3px solid rgb(185, 224, 239);
  }
  .textarea:focus {
    outline: 3px solid rgb(185, 224, 239);
  }
}

@media screen and (min-width: 425px) and (max-width: 618px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  .uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputcontainer {
    width: 400px;
    height: 100%;
  }
  .inputsection {
    margin-left: 0px;
  }
  .inputsection input:focus {
    outline: 2px solid rgb(185, 224, 239);
  }
  .textarea:focus {
    outline: 2px solid rgb(185, 224, 239);
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    width: 250px;
  }
  .uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inputcontainer {
    width: 300px;
    height: 100%;
  }
  .inputsection {
    margin-left: 0px;
  }
  .inputsection input:focus {
    outline: 2px solid rgb(185, 224, 239);
  }
  .textarea:focus {
    outline: 2px solid rgb(185, 224, 239);
  }
}

@media screen and (max-width: 601px) {
  .topText {
    top: 0;
  }
  .container {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
